/* Universal styles */

html {
  font-size: 16px;
}
/* HEADER */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: white;
  z-index: 1;
  padding: 0 24px;
}

header h2, span {
  font-family: Helvetica, sans-serif;
}

header li {
  font-family: Helvetica, sans-serif;

}

.logo {
  display: flex;
  align-items: center;
  height: 32px;
}

.colmar {
  font-weight: bold;
}

.academy {
  font-weight: lighter;
}

.main-nav li {
  display: inline-block;
  list-style: none;
  padding-left: 16px;
}

.mobile-nav {
  display: none;
}

@media only screen and (max-width: 570px) {
  .main-nav,
  .logo {
    display: none;
  }

  .mobile-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 64px;
  }
}

/* Banner */

.banner {
  width: 100%;
  background-color: lightgray;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.banner img {
  margin: 32px 24px;
  width: 80%;
  border-right: 1px solid black;
}

.banner-content {
  display: flex;
  flex-direction: column;
  width: 40%;
  border-left: 1px solid black;

}

.banner-content h1 {
  font-size: 2.5rem;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: darkgray;
}

.banner-content h4 {
  font-size: 1.5rem;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  color: darkgray;
}

.banner-btn {
  width: 60%;
  border: 1px solid darkgray;
  background-color: darkgray;
  padding: 8px 40px;
  color: white;
}

.banner-btn span {
  text-align: center;
}

@media only screen and (max-width: 570px) {
  .banner {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .banner img {
    margin: 0;
    width: 100%;
  }

  .banner-content {
    width: 90%;
    margin: 32px 16px;
    }

  .banner-content h1 {
    margin-bottom: 32px;
  }

  .banner-content h4 {
    margin-bottom: 24px;
  }
}
